@import '../../styles/mixins.scss'; 

.signup__container a{
    @include link;
}

.signup__container p{
    @include link;
    margin-top: 20px;
}

.loader{
    margin-top: 100px;
}

.signup__container main{
    @include home__main
}

.signup__form{
    @include home__form       
}

.signup__form input{
    @include input;
}

.signup__form button{
    @include button;
}

.signup__form button:hover{
    @include hover;
}

.signup__form > * {
    margin-bottom: 25px;
}

