@import '../../styles/mixins.scss';

.form {
  @include form;
}

.form > * {
  margin-bottom: 20px;
}

.form input {
  @include input;
}

.form button {
  @include button;
}

.form button:hover {
  @include hover;
}

.form button:disabled {
  @include disabled;
}

.form__button-enter {
  margin-bottom: 20px !important;
}

.form__date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__date label {
  font-size: 12px;
  margin-bottom: 5px;
}

.form__date input {
  @include input;
}

.form__message {
  margin-top: 10px;
  padding: 3px 10px;
  border-radius: 10px;
  color: $color-font;
  font-weight: 400;
}

.success {
  background: $color-main;
}

.error {
  background: crimson;
}

@media (max-height: 900px) {
  .form {
    margin-top: 30px;
  }

  .form input {
    padding: 7px 10px !important;
  }

  .form button {
    padding: 7px 10px !important;
  }
}

@media (max-height: 800px) {
  .form {
    margin-top: 0;
  }

  .form > * {
    margin-bottom: 20px;
  }

  .form__button-enter {
    margin-bottom: 20px !important;
  }
}
@media (max-height: 700px) {
  .form > * {
    margin-bottom: 10px;
  }

  .form__button-enter {
    margin-bottom: 10px !important;
  }
}

@media (max-width: 600px) {
  .form {
    width: 270px;
  }
}
