@import '../../styles/mixins.scss'; 

.subform__contacts{
     @include form;
}

.subform__contacts > * {
    margin-bottom: 20px; 
}

.subform__mobile,
.subform__phone{    
    display: flex;
    flex-direction: column;    
}


:is(.subform__mobile, .subform__phone) label{
    font-size: 12px;
    margin-bottom: 5px;
    display: flex;
    align-items: flex-start; 
}

.subform__email{
    margin-top: 15px;
}