@import '../../styles/mixins.scss';

.subform {
  @include form;
  margin-top: 0 !important;
}

.subform > * {
  margin-bottom: 20px;
}

.subform__mobile,
.subform__phone {
  display: flex;
  flex-direction: column;
}

:is(.subform__mobile, .subform__phone) label {
  font-size: 12px;
  margin-bottom: 5px;
  display: flex;
  align-items: flex-start;
}

.subform__email {
  margin-top: 15px;
}

@media (max-height: 900px) {
  .subform > * {
    margin-bottom: 15px;
  }
}

@media (max-height: 700px) {
  .subform > * {
    margin-bottom: 15px;
  }
}

@media (max-height: 600px) {
  .subform > * {
    margin-bottom: 5px;
  }
}

@media (max-width: 600px) {
  .subform {
    width: 270px;
  }
}
