@import '../../styles/mixins.scss';

.signup__container a {
  @include link;
}

.loader {
  margin-top: 100px;
}

.signup__container main {
  @include home__main;
}

.signup__error {
  color: $color-font;   
  margin-bottom: 20px; 
}

.signup__form {
  @include home__form;
  height: 350px;
}

.signup__form label {
  @include home__form-label
}

.signup__form input {
  @include input;
}

.signup__form button {
  @include button;
}

.signup__form button:hover {
  @include hover;
}

.signup__form > * {
  margin-bottom: 25px;
}

@media (max-height: 900px) {
  .signup__container main {
    min-height: calc(100vh - 120px) !important;
    margin-top: 60px;
  }
}

@media (max-width: 600px) {
  .header:last-child {
    font-size: 14px;
  }

  .signup__form {
    width: 270px;
    margin-top: 30px;
  }

  .signup__error{
    font-size: 12px;
  }
}
